@font-face {
    font-family: 'vazir';
    src: url('./fonts/Vazir-Medium.eot');
    src: url('./fonts/Vazir-Medium.ttf');
    src: url('./fonts/Vazir-Medium.woff');
}

*{
    font-family: 'vazir' !important;
}