body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #b76be5, #541def);
}
/* app styles  */
.todo-container {
  background-color: #f2f2f2;
  width: 550px;
  margin: auto;
  text-align: center;
  box-shadow: 0 4px 8px 4px #21212130;
  border-radius: 12px;
}
.todo-container h1 {
  background-color: #706be5;
  width: 100% !important;
  border-radius: 12px 12px 0 0;
  padding-bottom: 5px;
  font-size: 30px;
}
/* End of app styles  */

/* Todo styles  */
.create-task input {
  background-color: #e0e56b !important;
  outline: none;
  padding: 8px 16px;
  border: none;
  box-shadow: 0 4px 8px #21212130;
  border-radius: 12px;
}
.create-task button {
  background-color: #706be5 !important;
}
/*End of Todo styles  */

/* Task styles  */
.task {
  background: #f3f3f3;
  box-shadow: 0 4px 8px #21212130;
  width: 88%;
  margin: auto !important;
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}
.task button{
    border: none;
    background: none;
}
.buttonsDiv{
  width: 30%;
}
.taskTitle{
  width: 70%;
}
.d-inline-block.taskTitle p {
  margin-bottom: -13px;
}
/* End of Task styles  */
